<template>
  <div class="home">
    <main-title class="title" />
  </div>
</template>

<script>
import MainTitle from '@/components/MainTitle.vue'

export default {
  components: {
    MainTitle
  }
}
</script>

<style lang="less" scoped>
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .title {
    font-size: 64px;
    padding: 16px;
  }
}
</style>
