<template>
  <div class="song">
    Upload song
    <input type="file" ref="song" @change="changeFile" /><span>{{ bpm ? `${bpm} BPM` : '' }}</span>
    <wave-form v-if="song" :key="song.name" :file="song" ref="waveform" @loaded="value => bpm = value" />
    <button @click="play">Play / Pause</button>
    <button @click="loop">Toggle loop</button>
  </div>
</template>

<script>
import WaveForm from '../components/WaveForm.vue'

export default {
  components: {
    WaveForm
  },
  data () {
    return {
      song: null,
      bpm: null,
      hasLoop: false
    }
  },
  methods: {
    play () {
      this.$refs.waveform.play()
    },
    loop () {
      this.$refs.waveform.toggleLoop()
    },
    changeFile ({ target, dataTransfer }) {
      const files = target.files || dataTransfer.files

      if (files.length) {
        this.song = files[0]
        /* const file = files[0]
        const formData = new FormData()
        formData.append('song', file)
        fetch('http://localhost:4500/config/song', { method: 'POST', body: formData }).then(response => {
          response.json().then(json => {
            this.song = `http://localhost:4500/config/song/${json.filename}`
          })
        }) */
      } else {
        this.song = null
      }
    }
  }
}
</script>

<style lang="less" scoped>
</style>
