<template>
  <div id="header">
    <main-title class="title" simple />
    <div class="spacer"></div>
    <a href="#" class="button" @click.prevent="minimize"><i class="la la-minus"></i></a>
    <a href="#" class="button" @click.prevent="maximize"><i class="la la-stop"></i></a>
    <a href="#" class="button close" @click.prevent="close"><i class="la la-times"></i></a>
  </div>
</template>

<script>
import MainTitle from '@/components/MainTitle.vue'

export default {
  components: {
    MainTitle
  },
  methods: {
    minimize () {
      window.ipcRenderer.send('minimize')
    },
    maximize () {
      window.ipcRenderer.send('maximize')
    },
    close () {
      window.ipcRenderer.send('close')
    }
  }
}
</script>

<style lang="less" scoped>
#header {
  height: 24px;
  width: 100%;
  background: var(--panel-2);
  -webkit-app-region: drag;
  display: flex;

  .title {
    padding: 4px;
  }

  .spacer {
    flex: 1;
  }

  .button {
    padding: 4px;
    height: 16px;
    width: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    -webkit-app-region: no-drag;

    &:hover {
      background: var(--panel-1-hover);
    }

    &.close:hover {
      background: var(--delete-button-hover);
    }
  }
}
</style>
