<template>
  <portal to="popup">
    <div class="confirmation-dialog" ref="mask" @click="clickOutside">
      <div class="confirmation-dialog-inner">
        <slot />
        <div v-if="buttons" class="confirmation-dialog-buttons">
          <button
            v-for="(button, index) in buttons"
            :key="index"
            @click="button.action"
            :class="[ button.class ]"
            :disabled="button.disabled"
          >{{ button.text }}</button>
        </div>
      </div>
    </div>
  </portal>
</template>

<script>
export default {
  props: {
    buttons: {
      type: Array,
      validator: value => value.every(item => item.text && item.action)
    }
  },
  methods: {
    clickOutside (event) {
      if (event.target === this.$refs.mask) {
        this.$emit('close')
      }
    }
  },
  beforeMount () {
    document.documentElement.style.overflow = 'hidden'
  },
  beforeDestroy () {
    document.documentElement.style.overflow = 'auto'
  }
}
</script>

<style lang="less" scoped>
.confirmation-dialog {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(2px);
  z-index: 1;

  .confirmation-dialog-inner {
    box-sizing: border-box;
    background: var(--background);
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 32px;

    .confirmation-dialog-buttons {
      margin-top: 16px;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 16px;
        padding: 8px 16px;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background: var(--button);
        color: var(--text-color);

        &[disabled] {
          cursor: not-allowed;
          color: var(--text-muted);
          background: var(--button-hover) !important;
        }

        &:hover {
          background: var(--button-hover);
        }
      }

      .save {
        background: var(--confirm-button);

        &:hover {
          background: var(--confirm-button-hover);
        }
      }

      .delete {
          background: var(--delete-button);

        &:hover {
          background: var(--delete-button-hover);
        }
      }
    }
  }
}
</style>
