<template>
  <span :class="{ dev: !isProd, simple }">{{ $t('global.name') }} <i v-if="!simple" class="la la-guitar"></i></span>
</template>

<script>
export default {
  props: {
    simple: {
      type: Boolean
    }
  },
  data: () => ({
    isProd: process.env.NODE_ENV === 'production'
  })
}
</script>

<style scoped>
span {
  font-family: var(--font-title);
  white-space: nowrap;
}

.dev:not(.simple)::after {
  content: 'DEV';
  font-size: 0.3em;
  margin-left: -2.825em;
  background: var(--text-color);
  color: var(--background);
  padding: 0 0.225em;
}
</style>
