<template>
  <div class="navigation">
    <router-link :to="{ name: 'Song' }">Upload a song</router-link>
  </div>
</template>

<style lang="less" scoped>
.navigation {
  background: var(--panel-2);
  width: 240px;
  height: 100%;
}
</style>
