<template>
  <div></div>
</template>

<script>
import MusicTempo from 'music-tempo'
import WaveSurfer from 'wavesurfer.js'
import RegionsPlugin from 'wavesurfer.js/src/plugin/regions'

export default {
  props: {
    src: {
      type: String,
      default: null
    },
    file: {
      type: [Blob, File],
      default: null
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      waveSurfer: {},
      bpm: 0,
      defaultOptions: {
        barWidth: 1,
        barGap: 0,
        barMinHeight: 1,
        normalize: true,
        responsive: true,
        loopSelection: true
      }
    }
  },
  methods: {
    play () {
      this.waveSurfer.isPlaying()
        ? this.waveSurfer.pause()
        : this.waveSurfer.play()
    },
    toggleLoop () {
      if (Object.values(this.waveSurfer.regions.list).length) {
        this.waveSurfer.clearRegions()
      } else {
        const duration = this.waveSurfer.getDuration()
        this.waveSurfer.addRegion({
          id: 'loop',
          start: 0,
          end: duration / 4,
          loop: true
        })
      }
    },
    calcTempo (buffer) {
      let audioData = []
      // Take the average of the two channels
      if (buffer.numberOfChannels === 2) {
        const channel1Data = buffer.getChannelData(0)
        const channel2Data = buffer.getChannelData(1)
        const length = channel1Data.length

        for (let i = 0; i < length; i++) {
          audioData[i] = (channel1Data[i] + channel2Data[i]) / 2
        }
      } else {
        audioData = buffer.getChannelData(0)
      }

      return new MusicTempo(audioData)
    }
  },
  mounted () {
    const options = this.options || {}
    const wsOptions = Object.assign({ container: this.$el }, this.defaultOptions, options)
    this.waveSurfer = WaveSurfer.create(wsOptions)

    if (this.src) {
      this.waveSurfer.load(this.src)
    } else if (this.file) {
      this.waveSurfer.loadBlob(this.file)
    } else {
      throw new Error('No valid prop for Wave Surfer')
    }

    this.waveSurfer.on('ready', () => {
      const duration = this.waveSurfer.getDuration()
      const mt = this.calcTempo(this.waveSurfer.backend.buffer)
      console.log(mt)
      this.bpm = mt.tempo
      this.$emit('loaded', this.bpm)

      this.waveSurfer = this.waveSurfer.addPlugin(RegionsPlugin.create({
        snapToGridInterval: mt.beatInterval * 4,
        regionsMinLength: mt.beatInterval * 4,
        maxRegions: 1,
        regions: []
      }))

      this.waveSurfer.drawer.params.cursorWidth = this.$el.offsetWidth / duration * mt.beatInterval
      this.waveSurfer.drawer.params.barWidth = this.$el.offsetWidth / duration * mt.beatInterval

      window.addEventListener('resize', () => {
        this.waveSurfer.drawer.params.barWidth = this.$el.offsetWidth / duration * mt.beatInterval
      })
    })
  },
  beforeDestroy () {
    this.waveSurfer?.destroy()
  }
}
</script>

<style lang="css" scoped>
div {
  position: relative;
}
</style>
