@import url('https://fonts.googleapis.com/css2?family=Lobster:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforteaa:wght@200;400&display=swap');

:root {
  --font-title: 'Lobster', Helvetica, Arial, sans-serif;
  --font-sans-serif: 'Comforteaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --background-accent: #efefef;
  --background: #ebebeb;
  --background-2: #e5e5e5;
  --text-color: #232323;
  --text-muted: #5c5c5c;
  --text-footer: #878787;
  --panel-1: #cdcdcd;
  --panel-1-hover: #a9a9a9;
  --panel-1-active: #bababa;
  --panel-1-link: #232323;
  --panel-1-link-hover: #111111;
  --panel-2: #debe54;
  --panel-2-hover: #f5df51;
  --form-field-border: #bababa;
  --form-field-border-error: #e22121;
  --button: transparent;
  --button-hover: #dfdfdf;
  --check-button: #dfdfdf;
  --check-button-hover: #cdcdcd;
  --check-button-clicked: #a9a9a9;
  --check-button-clicked-hover: #bababa;
  --confirm-button: #35e95c;
  --confirm-button-hover: #52f375;
  --delete-button: #db3636;
  --delete-button-hover: #e74d4d;
}
