<template>
  <div>
    <app-header />
    <div id="app">
      <div class="container-background"></div>
      <main>
        <aside>
          <navigation />
        </aside>
        <div class="content">
          <router-view />
        </div>
      </main>
      <footer>
        <span>{{ $t('global.madeWithHeart') }}<i alt="love" class="la la-heart"></i>{{ $t('global.byTheTeam') }}<abbr data-title="François Allard">{{ $t('global.team') }}</abbr></span>
        <span><a href="#" @click.prevent="openChangelog">v{{ version }}</a> <i class="la la-copyright"></i> {{ currentYear }} {{ $t('global.allRightsReserved') }}</span>
      </footer>
      <portal-target name="popup" />
    </div>
    <dialog-window
      v-if="showChangelog"
      @close="closeChangelog"
      :buttons="[{ text: $t('dialog.close'), action: closeChangelog }]"
    >
      <div class="markdown" v-if="$i18n.locale === 'en'" v-html="changelogEn" />
      <div class="markdown" v-if="$i18n.locale === 'fr'" v-html="changelogFr" />
    </dialog-window>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'
import DialogWindow from '@/components/DialogWindow.vue'
import Navigation from '@/components/Navigation.vue'
import { html as changelogEn } from '../changelog.md'
import { html as changelogFr } from '../changelog-fr.md'

export default {
  components: {
    AppHeader,
    DialogWindow,
    Navigation
  },
  data: () => ({
    currentYear: new Date().getFullYear(),
    version: import.meta.env.VITE_APP_VERSION,
    showChangelog: false,
    changelogEn,
    changelogFr
  }),
  methods: {
    openChangelog () {
      this.showChangelog = true
    },
    closeChangelog () {
      this.showChangelog = false
    }
  }
}
</script>

<style lang="less">
@import url('~@/assets/colors.css');

* {
  outline: none;
  font-family: var(--font-sans-serif);
}

input, textarea {
  font-family: var(--font-sans-serif) !important;
}

html, body {
  overflow-y: hidden;
  height: 100vh;
}

html, body, #app {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-accent);
  font-family: var(--font-sans-serif);
}
</style>

<style lang="less" scoped>
.container-background {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: -1;
  height: calc(50vh + 150px);
  width: 100%;
  transform: skewY(5deg);
  background: var(--background);
}

#app {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 24px);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
}

footer {
  width: 100%;
  padding: 1rem 0;
  color: var(--text-footer);
  display: flex;
  justify-content: space-evenly;
  font-weight: lighter;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted var(--text-footer);
  }

  abbr {
    text-decoration: none;
    border-bottom: 1px dotted var(--text-footer);
    position: relative;

    &:hover::after, &:focus::after {
      content: attr(data-title);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      width: 180px;
      text-align: center;
      background-color: var(--panel-1);
      color: var(--text-color);
      box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
      font-size: 14px;
      padding: 3px 5px;
    }
  }
}

.markdown ::v-deep {
  h1 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
  }

  ul {
    font-size: 0.85rem;
    line-height: 1rem;
    list-style: circle;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 48px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    height: 32px;
    font-size: .75rem;
  }
}

@media print {
  @page {
    size: "letter";
  }

  nav {
    display: none !important;
  }

  body {
    background: #fff;
    max-width: 8.5in;
    max-height: 11in;
  }

  footer {
    display: none;
  }
}
</style>
